@import "../../styles/Settings.scss";

#single-book-main {
  min-height: 100vh;
  @include flex(row, center, flex-start);
  #single-book {
    background-color: $bg-2;
    width: 80vw;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 2px 2px 5px 1px #ddd;
    #price-single-book {
      font-size: 1.5rem;
      font-weight: bold;
    }
    #img-description-box {
      width: 100%;
      min-height: 250px;
      #img-single-book {
        display: inline;
        float: left;
        margin: 0.5rem 1rem 0.5rem 0;
        margin-left: 0;
      }

      #description-single-book {
        text-align: justify;
      }
    }

    #price-single-book {
      margin-top: 1rem;
    }
  }
}
