// max-width
$my-laptop: 1536px;
$tv-width: 1920px;

$desktop-width: 1200px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 600px;
$regmobile-width: 480px;
$minmobile-width: 320px;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
$green-1: #629157;
$green-2: #557950;
$green-3: #476149;
$green-4: #394942;
$green-5: #557950;
$yellow-1: #e1e1a3;
$yellow-2: #e2e28a;
$body-bg: #ebf1ea;
$bg-2: #d7e3d5;
$bg-3: #e1eae0;

.bg-green-1 {
  background-color: $green-1;
}

.bg-green-2 {
  background-color: $green-2;
}

.bg-green-3 {
  background-color: $green-3;
}

.bg-green-4 {
  background-color: $green-4;
}

.bg-green-5 {
  background-color: $green-5;
}

.bg-yellow-1 {
  background-color: #e1e1a3;
}

.bg-green-1 {
  background-color: $green-1;
}

.bg-green-2 {
  background-color: $green-2;
}

.bg-green-3 {
  background-color: $green-3;
}

.bg-green-4 {
  background-color: $green-4;
}

.bg-green-5 {
  background-color: $green-5;
}

.bg-yellow-1 {
  background-color: #e1e1a3;
}

.bg-yellow-2 {
  background-color: #e2e28a;
}

.text-yellow-1,
.text-yellow-1:hover {
  color: #e1e1a3;
}

.text-yellow-2,
.text-yellow-2:hover,
#basic-nav-dropdown {
  color: #e2e28a;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsla(0, 0%, 100%, 1);
  -webkit-text-size-adjust: 100%;
}
body {
  min-height: 100vh;
  background-color: $body-bg;
  box-sizing: border-box;
  padding-bottom: 2rem;
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-height: 90vh;
  padding: 0 1rem;
  @include flex(column, flex-start, center);
}
