@import "../../styles/Settings.scss";

.itemCard {
  width: 12rem;
  padding: 0.5rem 0;
  box-shadow: 2px 2px 5px 1px #ddd;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  .cardFooter {
    justify-content: space-between !important;
  }
  .outStock {
    text-align: center;
    height: 40px;
    font-size: 1.5rem;
    align-self: center;
  }
  &:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 5px 3px #ccc;
  }
  @media (max-width: $mobile-width) {
    width: 10.5rem;
    .cardFooter {
      width: 100%;
      justify-content: space-between !important;
      align-items: center !important;
      padding: 0;

      .outStock {
        width: 100%;
        vertical-align: middle;
        align-self: center;
        font-size: 1.2rem;
      }
    }
  }
  @media (min-width: $tablet-width) and (hover: hover) {
    &:hover {
      z-index: 1;
      &::after {
        content: "Details";
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: #fefefe;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #557950d5;
        backdrop-filter: blur(2px);
        border-radius: 5px;
        z-index: 20;
      }
      .addCart {
        z-index: 50;
      }
    }
  }
}

.addCart {
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $green-4;
  outline: 2px solid $green-2;
  outline-offset: -1px;
  cursor: pointer;
  display: grid;
  place-items: center;
  svg {
    margin-right: 2px;
    width: 60%;
    height: 60%;
  }
  .addCartPlus {
    color: #fefefe;
    display: none;
  }
  @media (hover: hover) {
    &:hover {
      outline-width: 3px;
      outline-offset: 1px;
      display: grid;
      place-items: center;
      svg {
        display: none;
      }
      h2 {
        height: 100%;
        display: block;
      }
    }
  }
}
