@import "../../styles/Settings.scss";
#logo-container {
  width: fit-content;
  @media (max-width: 500px) {
    .logo {
      display: none;
    }
  }
  .logo {
    height: 100px;
  }
}

#cart-toggle-container {
  flex-direction: row-reverse !important;
  justify-content: flex-start !important;
  @media (max-width: 1200px) {
    flex-direction: row !important;
    width: 150px !important;
    padding: 0;
    gap: 0.5rem;
  }
  #basic-navbar-nav {
    flex-direction: row !important;
    max-width: fit-content;
    @media (max-width: 1200px) {
      position: absolute;
      right: 1rem;
      top: 132px;
      z-index: 100;
      border-radius: 0 0 0.5rem 0.5rem;
      background-color: $green-2;
      padding: 0.5rem 1rem;

      .category-item {
        list-style: none;
        border-bottom: 2px solid $yellow-1;
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
    @media (max-width: 500px) {
      top: 85px;
    }
  }
}

.navToggler {
  filter: invert(98%) sepia(100%) saturate(174%) hue-rotate(5deg)
    brightness(100%) contrast(100%);
}
